@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@500&family=Great+Vibes&family=Pacifico&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&family=Sail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Charm&family=Playball&family=Salsa&family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosarivo:ital@1&display=swap");
:root {
  --yellow:#f5bf23;
  --black:#111;
  --white:#fff;
  --RosyBrown:#BC8F8F;
  --light-color:#666;
  --light-bg:#eee;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.3);
}

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--RosyBrown);
}

section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 3rem;
  padding: 1rem;
  -webkit-text-decoration: underline #FFFFFF;
          text-decoration: underline #FFFFFF;
  text-align: center;
  font-size: 3.8rem;
  font-family: "Playball", cursive;
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);
  padding: 3rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: #B99797;
}
.header .logo {
  font-size: 2.7rem;
  color: var(--RosyBrown);
  text-transform: capitalize;
  font-family: "Dancing Script", cursive;
  color: var(--white);
  display: flex;
  align-items: center;
}
.header .logo img {
  width: 50%;
  max-width: 100px;
  margin-right: 1rem;
}
@media (max-width: 500px) {
  .header .logo img {
    width: 100%;
    max-width: 90px;
  }
}
.header .navbar a {
  font-size: 2.1rem;
  color: var(--white);
  text-transform: capitalize;
  margin: 0 4rem;
}
.header .navbar a:hover {
  color: var(--yellow);
}

.icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-left: 0.3rem;
}
.icons div:hover {
  background: var(--black);
  color: var(--white);
}

#menu-btn {
  display: none;
}

.home {
  padding: 0;
}
.home .slide {
  min-height: 60rem;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}
.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--white), transparent);
}
.home .slide .content {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.home .slide .content h3 {
  font-size: 3.7rem;
  color: var(--RosyBrown);
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  text-align: center;
}
.home .slide .content p {
  font-size: 2.1rem;
  color: var(--light-color);
  line-height: 1.5;
  padding: 1rem 0;
  text-align: center;
}

.home .swiper-button-next,
.home .swiper-button-prev {
  color: #BC8F8F;
}


.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .row .image {
  flex: 1 1 41rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .row .image img {
  width: 90%;
  border: 2px solid #DEB887;
}
.about .row .content {
  flex: 1 1 41rem;
}
.about .row .content h3 {
  margin-bottom: 3rem;
  padding: 1rem;
  text-align: center;
  font-size: 20px;
  font-family: "Rosarivo", cursive;
  position: relative;
  color: rgba(90, 82, 82, 0.6);
}

.schedule {
  background: #D8BFD8;
}
.schedule .box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.schedule .box-container .box {
  background: #D8BFD8;
  text-align: center;
  padding: 3rem;
  border: 0.2rem solid #a89a9a;
  box-shadow: var(--box-shadow);
}
.schedule .box-container .box .image {
  height: 30rem;
  overflow: hidden;
}
.schedule .box-container .box .image img {
  height: 105%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.schedule .box-container .box h3 {
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 3.4rem;
  font-family: "Playfair Display, serif";
  position: relative;
  color: #ffffff;
}
.schedule .box-container .box p {
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Playfair Display, serif";
  position: relative;
  color: var(--light-color);
}

.contacts {
  background: #bb9e9e;
}
.contacts .heading {
  color: #eee;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 1.8px solid #8c5050;
}
.contacts .row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.contacts .row .map {
  flex: 1 1 41rem;
  width: 100%;
  border: 8px solid #e6cbb6;
}
.contacts .row .contents {
  flex: 1 1 4rem;
  padding: 4rem;
  font-size: 2rem;
  text-align: center;
}
.contacts .row .contents .box {
  line-height: 1.5;
  margin-bottom: 30px;
}
.contacts .row .contents h3 {
  font-size: 2.5rem;
  color: var(--RosyBrown);
  text-transform: capitalize;
  padding-bottom: 1rem;
  font-family: "Playball", cursive;
  color: #111;
}

.footer {
  text-align: center;
  background: #4f3c55;
}
.footer .credit {
  font-size: 2rem;
  color: var(--RosyBrown);
  text-transform: capitalize;
  margin-top: 2rem;
  padding-top: 1rem;
  font-family: "Rosarivo", cursive;
  color: #eee;
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 5rem 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #B99797;
    border-top: var(--border);
    border-bottom: var(--border);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
}
@media (max-width: 768px) {
  .home .slide {
    justify-content: center;
  }
  .home .slide .content {
    text-align: center;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}